#container
{
	width:1000px;
	margin-left: auto;
	margin-right: auto;
	
}

#header
{
	background-color: black;
	color: white;
	text-align: center;
	padding: 15px;
}

#sell
{
	float: left;
	width:400px;
	background-color: lightgray;
	text-align: center;
	
}

#transfer
{
	float: left;
	width:200px;
	background-color: lime;
	text-align: center;
	
}

#storage
{
	float: left;
	width:400px;
	background-color: red;
	text-align: center;
}

#preferences
{
	clear: both;
	background-color: black;
	color: white;
	text-align: center;
	padding: 25px;
}

#footer
{
	background-color: grey;
	color: white;
	text-align: center;
	padding: 10px;
	
	
}

#login
{
	background-color: blue;
	color: white;
	text-align: center;
	padding: 45px;
	
}

#formularz
{
	float: left;
	width:1000px;
	background-color: white;
	text-align: center;
	
	
}

#powrot
{
	text-align:left;
	
	
}

.error
{
	color:red;
	margin-top: 10px;
	margin-bottom: 10px;
}